{
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "jsx-a11y/anchor-is-valid": "off",
    "react/prefer-stateless-function": [1, { "ignorePureComponents": true }],
    "react/jsx-max-props-per-line": [1, { "maximum": 4, "when": "always" }]
  },
  "globals": {
    "document": true
  },
  "parser": "babel-eslint",
  "extends": ["airbnb", "eslint:recommended", "plugin:react/recommended"]
}
